@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Ubuntu",sans-serif;
  box-sizing: border-box;
}
#Arts{
    margin-top: 100px;
}


.navbar{
  position: fixed;
  background-color:rgb(70, 69, 69);
  width: 100%;
  padding: 30px 0;
  top: 0;
  z-index: 3;
  transition: .3s linear;
}
.dropcon{
  margin-left: 10px;
}
.texclass{
  color: #e84118 !important;
}
.dropbtn{
  padding: 10px;
  width: 150px;
  background: none;
  outline: none;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: .2s linear;
}

.sticky .dropbtn{
  color: #111 ;
}
.closedrop{
  margin-top: 100px;
}
.lists{
  width: 100%;
  
  position: absolute;
  padding: 40px 10px;
}
.lists a{
  margin: 10px;
  text-decoration: none;
  display: inline;
}

.inner-width{
  max-width: 1300px;
  margin: auto;
  padding: 0 10px;
}



/* search box in nav bar */



.navbar .inner-width{
  display: flex;
  padding-left: 10px !important;
  align-items: center;
  justify-content: space-between;
}
.logo{
  /* width: 44px;
  height: 32px; */
  /* background-image: url(../images/white-logo.png); */
  background-size: contain;
  text-decoration: none;
  font-size: 20px;
  font-weight:bolder;
  color: white;
  font-style:normal;
  letter-spacing: 2px;
  transition: .2s linear;
}
.logo:hover{
  color: #e84118 !important;
}

.menu-toggler{
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
}
html{
  scroll-behavior: smooth;
  /* background: linear-gradient(to bottom right, #d3dae2, #bad1f5); */
}
.menu-toggler span{
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  position: relative;
  transition: .3s linear;
}

.navbar-menu a{
  color: white;
  font-size: 15px;
  font-weight: 500;
  margin-left: 30px;
  transition: .2s linear;
}

.navbar-menu a:hover{
  color: #e84118 !important;
}

.sticky{
  background-color: #bad1f5;
  padding: 18px 0;
}

.sticky .logo{
  color:rgb(153, 101, 5);
  font-style: oblique;
  /* background-image: url(../images/black-logo.png); */
}

.sticky .navbar-menu a{
  color: #111;
}

.sticky .menu-toggler span{
  background-color: #111;
}

/* view arts section */

#viewrequest{
    margin-top: 70px;
    padding-top: 40px;
    height: 110vh;
    padding-bottom: 50px;
    /* background: linear-gradient(to bottom right, #d3dae2, #bad1f5); */
}
.inner_cotainer{
    height: 650px;
    margin-top: 10px;
    width: 500px;
    margin-left: 50%;
    transform: translateX(-50%);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    background-color: #bad1f5;
    box-shadow: 1px 1px 30px 1px #d3dae2;
    border-radius: 10PX;
    transition: 0.8s linear;
    position: absolute;
  }
  .inner_cotainer:hover{
  box-shadow: 1px 1px 30px 1px #c9c7c7;
  /* background: linear-gradient(to bottom right, #dee6f3,#e9ebee); */
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .heading{
    width: 100%;
    position: relative;
  }
  .sitename{
    text-align: center;
    color: #e84118;
  }
  .error{
    width: 100%;
    color: red;
    font-size: 14px;
    height: 20px;
    margin-bottom: 5px;
    
    text-align: center;
  }
  .discrip{
    text-align: center;
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 5px;
  }
  .formcon{
    width: 70%;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
   
    left: 50%;
    transform: translateX(-50%);
  }
  textarea{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    outline: none;
    border: none;
    border: 2px solid black;
    transition: 0.4s linear;
    color: #e84118;
    background: transparent;
    font-size: 16px;
    resize: none;
    box-sizing: border-box;
    border-radius: 5px;

  }
  textarea:focus{
    border: 2px solid #e84118;
  }
  select{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    transition: 0.2s;
    background: transparent;
    font-size: 16px;
    color: black;
  }

  .formcon input{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    transition: 0.4s linear;
    color: #e84118;
    background: transparent;
    font-size: 16px;
  }
  .formcon button{
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 5px;
    outline: none;
    border: none;
    border: 2px solid black;
    transition: 0.4s linear;
    color: #e84118;
    background: transparent;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .formcon button:hover{
    background: #e84118;
    color: #bad1f5;
    border: 2px solid #e84118;
  }
 
  ::placeholder{
    color: black;
  }
 
  .formcon input:focus{
    border-bottom: 2px solid #e84118;
  }
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .num{
    width: 90% !important;
    
  }
  label{
    /* background-color: #e84118; */
    padding: 5.5px;
    border-bottom: 2px solid black;
  }
  .text{
      margin-top: 10px;
  }

 
@media screen and (max-width: 980px){
  .menu-toggler{
    display: block;
  }
  .navbar{
  
    padding: 10px 0;
   
  }

  .navbar-menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: .3s linear;
  }
 

  .navbar-menu a{
    display: block;
    font-size: 30px;
    margin: 30px 0;
  }

  .sticky .navbar-menu{
    background-color: #bad1f5;
  }
  
  .navbar-menu.active{
    right: 0;
  }

  .menu-toggler.active span:nth-child(1){
    transform: rotate(-45deg);
    top: 4px;
  }

  .menu-toggler.active span:nth-child(2){
    opacity: 0;
  }

  .menu-toggler.active span:nth-child(3){
    transform: rotate(45deg);
    bottom: 14px;
  }
  .inner_cotainer{
    width: 400px;
  }
  .formcon{
    width: 90%;
  }
 

 
}
@media screen and (max-width: 1024px) {
  .cards_wrap .card_item {
    width: 33.3%;
  }
  }

  @media screen and (max-width: 768px) {
    .cards_wrap .card_item {
      width: 50%;
    }
    }
    @media screen and (max-width: 528px) {
      .cards_wrap .card_item {
        width: 100%;
      }
      .wrapper {
        width: 100%;
        margin: 20px auto;
        padding-left: 50px;
     
        }
      
      }
     
      @media screen and  (max-width: 300px) {
        .cards_wrap .card_item {
          width: 100%;
        }
        .wrapper {
          width: 100%;
          padding: 0;
         
          }
          .navbar-menu{
          
            max-width: 200px;
           
          }
          .navbar-menu a{
            display: block;
            font-size: 20px;
            margin: 30px 0;
          }
          #home .content h1{
            font-size: 30px;
            margin-bottom: 30px;
          }
          #home{
            height: 100vh;
            width: 100% auto;
            min-height: 500px;
            margin: 0 auto;
            background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/picbg.jpg);
            background-size: cover;
           
          }
          .inner_cotainer{
            width: 300px;
          }
          .formcon{
            width: 90%;

          }
          .num{
            width: 87% !important;
          }
        
      }

    

 
