@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

.artscato {
  width: 75%;
  height: 300px;
  background-color: #e4e2e2;
  position: absolute;
  transition: 0.4s;
  z-index: 2;
  position: fixed;
  left: 50%;
  top: -70%;
  transform: translateX(-50%);
}
.artscato h2 {
  padding: 10px;
  background-color: #48dbfb;
}
.cato_wrapper {
  padding: 5px;
  justify-content: space-between;
  background-color: #e4e2e2;
  height: 220px;
  width: 586px;
  display: flex;
}

.inlinecs {
  height: 200px !important;
  width: 275px;
  padding: 15px;
  margin: 2px;
}

.inlinecs h4 {
  padding-bottom: 5px;
  font-size: 18;
}
.inlinecs a {
  text-decoration: none;
  color: black;
  margin: 4px;
}
.inlinecs a:hover {
  color: #cf3914;
}

.closedrop {
  margin-left: 15px;
  outline: none;
  font-size: 15px;
  align-items: center;
  border: none;
  padding: 5px 5px;
  border-radius: 5px;
  color: white;
  background: #000000;
}

.text {
  width: 75%;
  height: 300px;
  background-color: #e4e2e2;
  position: absolute;

  z-index: 2;
  position: fixed;
  left: 50%;
  top: 10.5%;

  transform: translateX(-50%);
}
.navbar {
  position: fixed;
  background-color: transparent;
  width: 100%;
  padding: 30px 0;
  top: 0;
  z-index: 3;
  transition: 0.3s linear;
}
.dropcon {
  margin-left: 10px;
}
.texclass {
  color: #e84118 !important;
}
.dropbtn {
  padding: 10px;
  width: 150px;
  background: none;
  outline: none;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s linear;
}
.dropbtn:hover {
  color: #e84118 !important;
}
.sticky .dropbtn {
  color: #111;
}

.lists {
  width: 100%;

  position: absolute;
  padding: 40px 10px;
}
.lists a {
  margin: 10px;
  text-decoration: none;
  display: inline;
}

.inner-width {
  max-width: 1300px;
  margin: auto;
  padding: 0 10px;
}

/* search box in nav bar */

.search-box {
  display: flex;
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding-left: 0px;
  margin-left: auto;
  margin-right: 10px;
  border: 0.5px solid #e84118;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #f1f1f1;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}
.search-btn {
  margin: 0 !important;
  color: #e84118;
  float: right;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  transition: 0.4s;
}
.search-box:hover .search-txt {
  width: 240px;
  padding: 0 6px;
}
.search-box:hover .search-btn {
  background: white;
}
.navbar .inner-width {
  display: flex;
  padding-left: 10px !important;
  align-items: center;
  justify-content: space-between;
}
.logo {
  /* width: 44px;
  height: 32px; */
  /* background-image: url(../images/white-logo.png); */
  background-size: contain;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  color: #f1f1f1;
  font-style: normal;
  letter-spacing: 2px;
  transition: 0.2s linear;
}
.logo:hover {
  color: #e84118 !important;
}

.menu-toggler {
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
}
html {
  scroll-behavior: smooth;
}
.menu-toggler span {
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  position: relative;
  transition: 0.3s linear;
}

.navbar-menu a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  margin-left: 30px;
  transition: 0.2s linear;
}
.current {
  color: #e84118 !important;
}
.navbar-menu a:hover {
  color: #e84118 !important;
}

.sticky {
  background-color: rgb(241, 241, 241);
  padding: 18px 0;
}

.sticky .logo {
  color: rgb(153, 101, 5);
  font-style: oblique;
  /* background-image: url(../images/black-logo.png); */
}

.sticky .navbar-menu a {
  color: #111;
}

.sticky .menu-toggler span {
  background-color: #111;
}

#home {
  height: 100vh;
  min-height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../siteauth/images/picbg.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#home .inner-width {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#home .content {
  width: 100%;
  color: #fff;
}

#home .content h1 {
  font-size: 60px;
  margin-bottom: 30px;
}

#home .content h1::after {
  content: "Welcome to PicMac";
  animation: textanim 10s linear infinite;
}

@keyframes textanim {
  25% {
    content: "Sell an Art";
  }
  50% {
    content: "Buy an Art";
  }
  75% {
    content: "Request an Art";
  }
}

/* arts section */

.section-title {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  font-size: 30px;
  padding-bottom: 15px;
  color: #111;
  margin-top: 10px;
}
.section-title::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 4px;
  background-color: black;
  bottom: 0;
  left: calc(50% - 40px);
}
.section-title::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #48dbfb;

  left: calc(50% - 12px);
  bottom: -12px;
  border: 4px solid #ffffff;
}
/* card section */

.works {
  cursor: pointer;
  position: relative;
  justify-content: space-between;
  display: flex;
  }
  .textdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 250px;
  }
  .center {
    display: block;
    margin: auto;
    padding: auto;
    
  }
  .works::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.2s linear;
  opacity: 0;
  transform: scale(0);
  border-radius: 5px;
}
.info form input {
  background: rgba(16, 20, 20, 0.8);
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
  width: 100px;
  border: 1px solid #e84118;
}
.works .info {
  position: absolute;
  z-index: 2;
  left: 37%;
  top: 30%;
  transition: 0.4s linear;
  opacity: 0;
  transform: scale(0);
}
.works:hover::before,
.works:hover .info {
  opacity: 1;
  transform: scale(1);
  }
  
  
  .card_top img {
    /* display: block; */
    max-width: 290px;
    max-height: 100%; 
    background-size: cover;
    background-position: center;
    }
  
  
  .wrapper {
  width: 100%;
  margin: 20px auto;
}

.cards_wrap {
  display: flex;
  flex-wrap: wrap;
}

.cards_wrap .card_item {
  width: 25%;
  padding: 10px;
}

.cards_wrap .card_inner {
  background: rgb(253, 253, 253);
  width: 300px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px #e4e2e2;
  border-radius: 10px;
}

.cards_wrap .card_top {
  width: 100%;
  height: auto;
  padding-bottom: 0;
}

.cards_wrap .card_bottom {
  padding: 15px;
}

.cards_wrap .card_bottom .card_category {
  text-transform: uppercase;
  text-align: center;
}

.cards_wrap .card_bottom .card_info {
  padding: 15px;
  margin: 10px 0;
  border: 1px dashed #0071bc;
}

.cards_wrap .card_bottom .card_info .title {
  color: #0071bc;
  font-size: 18px;
  margin-bottom: 5px;
  text-align: center;
  padding-bottom: 5px;
}

.cards_wrap .card_bottom .card_creator {
  text-align: center;
}
.discription {
  max-height: 6rem;
  text-align: justify;
  overflow: hidden;
}
.offerset {
  width: 200px;
  height: 25px;
  margin-left: 5px;
  display: flex;
  padding-top: 2px;
}
.realprice {
  padding-top: 8px;
  font-size: 17px;
  padding-right: 5px;
  text-align: center;
}
.priceoff {
  text-decoration: line-through;
  font-size: 13px;
  color: #878787;
  padding-left: 70px;
}
.offerpersen {
  padding-left: 5px;
  font-size: 13px;

  color: rgb(8, 173, 8);
}
.fev {
  padding-bottom: 10px;
}
.fev a {
  float: right;
  font-size: 28px;
  text-decoration: none;
  color: #f37e61;
  transition: 0.4s;
}
.fev a:hover {
  font-size: 30px;
  color: red;
}

/* more art */
.moreart {
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 100px;
}
.moreart button {
  float: right;
  margin: 30px;
  padding: 15px;
  width: 140px;
  outline: none;
  border: none;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #e84118;
  color: #e84118;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}
.moreart button:hover {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 10px 1px #808899;
}

/* service section */

#service {
  background: #d0d1d4;
  padding-top: 20px;
  height: 500px;

  width: 100%;
}
#service .section-title {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  font-size: 30px;
  padding-bottom: 15px;
  color: #111;
  margin-top: 10px;
}
#service .section-title::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 4px;
  background-color: black;
  bottom: 0;
  left: calc(50% - 40px);
}
#service .section-title::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #48dbfb;

  left: calc(50% - 12px);
  bottom: -12px;
  border: 4px solid #d0d1d4;
}
/* .sellart{
  padding: 10px 60px;
} */

.sellartcon {
  width: 80%;
  height: 100% auto;
  padding: 40px 10px;
  background: white;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
}

.selldis {
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  /* width: 70%;
  height: auto;
  background-color: thistle;
  left: 50%;
  position: absolute;
  transform: translateX(-50%); */
}
.sellartbtn {
  width: 100px;
  padding: 10px;
  color: white;
  font-size: 20px;
  background-color: rgb(66, 243, 225);
  border: 2px solid white;
  border-radius: 10px;
  outline: none;
  float: right;
  position: relative;
  margin-right: 15%;
  margin-top: 5%;
  cursor: pointer;
  transition: 0.4s linear;
}
.sellartbtn:hover {
  background-color: rgb(166, 250, 242);
  color: rgb(0, 0, 0);
}
@media screen and (max-width: 980px) {
  .menu-toggler {
    display: block;
  }
  .navbar {
    padding: 10px 0;
  }

  .navbar-menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: 0.3s linear;
  }
  .search-box:hover .search-txt {
    width: 200px;
    padding: 0 6px;
  }

  .navbar-menu a {
    display: block;
    font-size: 30px;
    margin: 30px 0;
  }

  .sticky .navbar-menu {
    background-color: #f1f1f1;
  }

  .navbar-menu.active {
    right: 0;
  }

  .menu-toggler.active span:nth-child(1) {
    transform: rotate(-45deg);
    top: 4px;
  }

  .menu-toggler.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggler.active span:nth-child(3) {
    transform: rotate(45deg);
    bottom: 14px;
  }
  .dropbtn {
    padding: 5px;
    width: 70px;
    font-size: 14px;
  }
}
@media screen and (max-width: 1024px) {
  .cards_wrap .card_item {
    width: 33.3%;
  }
}

@media screen and (max-width: 768px) {
  .cards_wrap .card_item {
    width: 50%;
  }
}
@media screen and (max-width: 528px) {
  .cards_wrap .card_item {
    width: 100%;
  }
  .wrapper {
    width: 100%;
    margin: 20px auto;
    padding-left: 50px;
  }
}

@media screen and (max-width: 300px) {
  .cards_wrap .card_item {
    width: 100%;
  }
  .wrapper {
    width: 100%;
    padding: 0;
  }
  .navbar-menu {
    max-width: 200px;
  }
  .navbar-menu a {
    display: block;
    font-size: 20px;
    margin: 30px 0;
  }
  #home .content h1 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  #home {
    height: 100vh;
    width: 100% auto;
    min-height: 500px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../siteauth/images/picbg.jpg);
    background-size: cover;
  }
}

.text-muted{
  color: grey !important;
}